<%- content_for :head do %>
  <%= stylesheet_link_tag 'setup' %>
<%- end %>

<h2>Initial Setup</h2>
<%= form_for @credentials, :url => setup_path, :html => {:class => "form-horizontal", :method => "POST"} do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Credentials</legend>
    <div class="control-group">
      <%= f.label :token, "Tracker API Token", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :token %>
      </div>
    </div>

    <legend>Automatic update</legend>
    <div class="control-group">
      <%= f.label :reload_data_mins, "Automatically refresh data every N minutes", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :reload_data_mins %> (0 to disable)
        <br/>
        (last updated <%= time_ago_in_words f.object.data_last_reloaded %> ago)
      </div>
    </div>

    <legend>Basic Auth Security (optional)</legend>
    <div class="control-group">
      <%= f.label :auth_user, "Username", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :auth_user %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :auth_password, "Password", :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :auth_password, :value => f.object.auth_password %>
      </div>
    </div>

    <legend>Projects</legend>
    <%= f.fields_for :projects do |pform| %>
      <div class="project">
        <%= pform.label :enabled, :class => "inline" do %>
          <%= pform.check_box :enabled, :class => "project-name" %>
          <strong><%= pform.object.name %></strong>
        <% end %>
        <section class='labels' style='<%= pform.object.enabled? ? '' : 'display: none;' %>'>
          <!-- <em><%= pform.label :enabled_labels_list, "Important Labels:" %></em> -->
          <p><em>Important Labels:</em></p>

          <% pform.object.all_labels_list.each_with_index do |label_name, idx| %>
            <%- checked = pform.object.enabled_labels_list.include?(label_name) %>
            <label class="inline checkbox-list <%= checked ? 'selected' : '' %>" id="label_proj_<%= pform.object.id %>_<%= idx %>">
              <%= pform.check_box(:enabled_labels_list, {:multiple => true, :id => "label_proj_#{pform.object.id}_#{idx}", :class => 'project-label', :checked => checked }, label_name, "" ) %>
              <%= label_name %>
            </label>
          <% end %>
        </section>
      </div>
    <% end %>

    <% if @projects.empty? %>
      <label>No projects yet. Try pressing the update button below to fetch them from tracker.</label>
    <% end %>

    <button type="submit" class="btn btn-primary">Update</button>

  </fieldset>
<% end %>

<%- content_for :outside_of_container do %>
  <div id="update-button-holder" class="fixed" style="display:none;">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
<%- end %>
