<div class="accordion" id="epic-{{epic_id}}">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="epic-{{epic_id}}" href="#stories-{{epic_id}}">
        <p class="lead">{{name}}</p>
      </a>
    </div>
    <div class="stats-inner" id="stats-{{epic_id}}">
        {{> _project_epic_stats }}
    </div>
    <div id="stories-{{epic_id}}" class="accordion-body collapse">
      <div class="accordion-inner">
        {{> _project_epic_stories  }}
      </div>
    </div>
  </div>
</div>
