{{#progress}}
<div class="progress progress-striped active">
  <div class="bar bar-accepted" style="width: {{progressWidth accepted}}%;"></div>
  <div class="bar bar-delivered" style="width: {{progressWidth delivered}}%;"></div>
  <div class="bar bar-finished" style="width: {{progressWidth finished}}%;"></div>
  <div class="bar bar-rejected" style="width: {{progressWidth rejected}}%;"></div>
  <div class="bar bar-started" style="width: {{progressWidth started}}%;"></div>
</div>
{{/progress}}
