{{#stories}}
  {{#metrics}}
    {{#byState}}
    <div class="progress progress-striped active">
      <div class="bar bar-accepted" style="width: {{progressWidth accepted "points"}}%;"></div>
      <div class="bar bar-delivered" style="width: {{progressWidth delivered "points"}}%;"></div>
      <div class="bar bar-finished" style="width: {{progressWidth finished "points"}}%;"></div>
      <div class="bar bar-rejected" style="width: {{progressWidth rejected "points"}}%;"></div>
      <div class="bar bar-started" style="width: {{progressWidth started "points"}}%;"></div>
    </div>
    {{/byState}}
  {{/metrics}}
{{/stories}}
