<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="ModCloth Tracker Dashboard">

  <title>TrackerDashboard</title>

  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h3>ModCloth Tracker Dashboard</h3>
  </header>

  <div class="container-fluid" id="root">
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li <%= request.url.include?('projects') ? 'class="active"'.html_safe : ''%>>
            <a href="/projects">Projects</a>
          </li>
          <li <%= request.url.include?('epics') ? 'class="active"'.html_safe : ''%>>
            <a href="/epics">Epics</a>
          </li>
          <li <%= request.url.include?('releases') ? 'class="active"'.html_safe : ''%>>
            <a href="/releases">Releases</a>
          </li>
          <li><a href="#">People</a></li>
        </ul>
        <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li>
            <label class="checkbox">
              <input type="checkbox" class="filter_tiny_items"> Filter Tiny Items
            </label>
          </li>
          <li>
            <select class="metric">
              <option value="points">Points</option>
              <option value="pseudoPoints">Pseudo-Points</option>
              <option value="length">Story Count</option>
            </select>
          </li>
          <li><a href="/setup">Setup</a></li>
          <li class="divider-vertical"></li>
          <li><a href="/update">Update Data</a></li>
        </ul>
      </div>
    </div>

    <%= yield %>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
