<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="ModCloth Tracker Dashboard">

  <title>TrackerDashboard</title>

  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h3>ModCloth Tracker Dashboard</h3>
  </header>

  <div class="container-fluid">
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li <%= @active_tab == 'projects' ? 'class="active"' : ''%>>
            <a href="/">Projects</a>
          </li>
          <li><a href="#">Epics</a></li>
          <li><a href="#">Releases</a></li>
          <li><a href="#">People</a></li>
        </ul>
        <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li><a href="/update">Update Data</a></li>
        </ul>
      </div>
    </div>

    <%= yield %>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
